@import '../../../styles/variables';

.MyVehicles-Container {

    margin-top: 5rem;


    .MyVehicles-Grid {
        margin-top: 3rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2.5rem;


        .MyVehicle-Object {
            width: 30rem;
            margin-bottom: 3rem;

            .MyVehicle-Object-Description {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-left: 2rem;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }

            .MyVehicle-Object-Image {
                img {
                    width: 100%;
                    height: 20rem;
                }




            }

            .No-Image-Container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 20rem;
                border: #440381 1px dotted;

                p {
                    margin-bottom: 1rem;
                }

                input {
                    margin-top: 1rem;
                }
            }



            .MyVehicle-Object-Button-Group {
                margin-top: 1rem;
                margin-left: 2rem;
                margin-right: 2rem;
                display: flex;
                justify-content: space-between;



                .small-button {
                    background: #440381;
                    border: $button-border;
                    width: 7rem;
                    padding: 0.2rem;
                    border-radius: $button-radius;
                    font-weight: 500;
                    font-size: 1rem;
                    color: white;
                    cursor: pointer;

                    &:disabled {
                        // Style for the disabled button (grey background)
                        background: #ccc;
                        cursor: not-allowed;
                    }
                }
            }

        }
    }





    button {
        background: $gradient;
        border: $button-border;
        padding: $buton-padding;
        border-radius: $button-radius;
        font-weight: $button-weight;
        font-size: 1.25rem;
        color: white;
        cursor: pointer;
    }

}