// App Basic Colors

$text-color: #440381;
$gradient: linear-gradient(86deg, rgba(68,3,129,1) 50%, rgba(1,186,239,1) 100%);



// Navigation

$nav-background: #440381;

$nav-textcolor: #ffffff;
// $hover-line: #F1D302;
$nav-textsize: 1.25rem;
$hover-line: #ed9b1c;
$nav-margin: 0rem 1.25rem;
$nav-weight: 800;



// Buttons

$button-color: #4DA167;
// $button-color: #06A77D;
$button-color-logout: #bb1e10;
$button-border: 0;
$buton-padding: 0.75rem;
$button-radius: 1.5rem;
$button-weight: 800;

// --- herobutton --- //

$button-hero-text: #ffffff;
$button-hero-color: #440381;
$button-textsize: 1.25rem;


// Hero

$hero-textcolor: #ffffff;

