// App Basic Colors

$text-color: #440381;



// Navigation

$nav-background: #440381;
$nav-textcolor: #ffffff;
$hover-line: #F1D302;
$nav-textsize: 1.25rem;
$nav-margin: 0rem 1.25rem;

$nav-weight: 800;



// Buttons

$button-color: #4DA167;
// $button-color: #06A77D;
$button-color-logout: #bb1e10;
$button-border: 0;
$buton-padding: 0.75rem;
$button-radius: 0.5rem;



$block-padding: 60px;