@import '../styles/variables';

.MyProfile-Container {

    .Profile-Image {
        padding-bottom: 2rem;
        img {
            height: 200px;
            width: 200px;
            border-radius: 50%;
        }
    }
  .MyProfile-Header {
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .Profile-Or-Bookings {
      background-color: $nav-background;
      display: flex;
      justify-content: space-around;

      h4 {
        font-weight: bold;
        color: white;
        cursor: pointer;
        padding: 0.5rem;
      }

      .activated {
        color: orange;
      }
    }
  }


}



