@import '../../styles/variables';
@import '../../styles/breakpoints';



.header {
  
    color: $nav-textcolor;
    background-color: chocolate;
    height: 5rem;
    display: flex;

  @include sm {
   background-color: $nav-background;
  } 
  

}

// LEFT HEADER

.leftheader {
  width: 20%;
  display: flex;
  float: left;
  align-items: center;
  margin-left: 2rem;
}

.logo {
  margin-right: 1rem;
}

//RIGHT HEADER

.rightheader {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 2rem;
  

}


.navlink {
  color: $nav-textcolor;
  font-size: $nav-textsize;
  text-decoration: none;
  margin: $nav-margin;
  font-weight: $nav-weight;
  position: relative;

&::before {
           transition: 300ms;
           height: 5px;
           content: "";
           position: absolute;
           background-color: $hover-line;
           width: 0%;
           bottom: -5px;
           left: 0;
        }

        &:hover::before{
          width: 100%;
        }

        }



.navlink.active {
  color: $hover-line;
}

.logout {

    color: $nav-textcolor;
    font-size: $nav-textsize;
    background-color: $nav-background;
    border: $button-border;
    border-radius: $button-radius;
    font-weight: $nav-weight;

  @include sm {
  
  margin: $nav-margin;
  padding: $buton-padding;
  }
}