@import "../../styles/variables";
@import "../../styles/breakpoints";

.book {
  text-align: center;
  padding-bottom: 3rem;
}

.form {
  width: 100%;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  margin-bottom: 3rem;
}

.label{
  font-size: 1rem;
  margin-right: 1rem;
}

.datepicker {
  margin-right: 20px;
  height: 2.1rem;
  width: 17rem;
  border: 1px solid black;
  font-size: 1rem;
  padding-left: 0.5rem;
  border-radius: 0.5rem;

  font-family: 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen',
              'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
              sans-serif;
}
/* Styling for time cards and button */
.time-card {
  border: 1px solid #ccc;
  padding: 10px;
  width: 300px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: large;

    &.open {
    background: linear-gradient(to bottom, #006400, white);

    button {
  margin-top: 2rem;
  background: $gradient;
  border: $button-border;
  padding: $buton-padding;
  border-radius: $button-radius;
  color: white;
  font-weight: $button-weight;
  font-size: 1.25rem;
  cursor: pointer;
}
  }

  &.booked {
    background: linear-gradient(to bottom, #CC0000, white);

    button {
      margin-top: 2rem;
      background: grey;
      border: $button-border;
      padding: $buton-padding;
      border-radius: $button-radius;
      color: white;
      font-weight: $button-weight;
      font-size: 1.25rem;
      cursor: not-allowed;
    }
  }

  &.not-available {
    background: linear-gradient(to bottom, grey, white);

    button {
      margin-top: 2rem;
      background: grey;
      border: $button-border;
      padding: $buton-padding;
      border-radius: $button-radius;
      color: white;
      font-weight: $button-weight;
      font-size: 1.25rem;
      cursor: not-allowed;
    }
  }
}

button {
  margin-top: 2rem;
  background: $gradient;
  border: $button-border;
  padding: $buton-padding;
  border-radius: $button-radius;
  color: white;
  font-weight: $button-weight;
  font-size: 1.25rem;
  cursor: pointer;
}

/* Flex container for time cards */
.time-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.time-card {
  background-color: linear-gradient(to bottom, grey, white);
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 50px;

  



  h3 {
    font-weight: bolder;
  }
  .taken {
    margin-top: 2rem;
    background: $gradient;
    border: $button-border;
    padding: $buton-padding;
    border-radius: $button-radius;
    color: white;
    font-weight: $button-weight;
    font-size: 1.25rem;
  }
}

.No-Appoinments{

  
  margin-left: 35rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  color: red
  

}
