.threedrivers {
  display: flex;
  flex-direction: column;
}


.drivertitle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-bottom: 4rem;

  p {
    max-width: 50rem;
  }
  h2 {
    margin-bottom: 2rem;
  }

}

.drivers {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
}

.driverdetails {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 1rem;

  h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  p {
    max-width: 12rem;
    text-align: center;
  }

 

}